.bee {
    position: fixed;
    border: 1px solid magenta;
    width: 100px;
    height: 50px;
    user-select: none;
}

.bee .bum,
.bee .waist,
.bee .body,
.bee .neck,
.bee .head {
    position: absolute;
    background: #c7a200;
    border: 3px solid #5a470a;
    border-radius: 20px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c1b174+0,9e7900+100 */
    background: radial-gradient(ellipse at center,  #c1b174 0%,#9e7900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.bee .bum {
    top: 5px;
    width: 40px;
    height: 40px;
    z-index: 10;
}
    .bee .bum:nth-child(1) { left: 46px; z-index: 60; scale: .95; }
    .bee .bum:nth-child(2) { left: 52px; z-index: 50; scale: 1; }
    .bee .bum:nth-child(3) { left: 58px; z-index: 40; scale: .95; }
    .bee .bum:nth-child(4) { left: 64px; z-index: 30; scale: .90; }
    .bee .bum:nth-child(5) { left: 70px; z-index: 20; scale: .85; }
    .bee .bum:nth-child(6) { left: 76px; z-index: 10; scale: .80; }

.bee .stinger {
    position: absolute;
    top: 20px;
    left: 110px;
    width: 40px;
    height: 10px;
    background: transparent;
    border: 1px solid transparent;
    border-left: 30px solid #000;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.bee .waist {
    top: 10px;
    left: 35px;
    width: 40px;
    height: 30px;
    z-index: 70;
}

.bee .body {
    top: 5px;
    left: 20px;
    width: 40px;
    height: 40px;
    z-index: 80;
}   

.bee .neck {
    top: 5px;
    left: 15px;
    width: 35px;
    height: 35px;
    z-index: 90;
    background: #3d2302;
    border: 0px none;
}

.bee .head {
    top: 0px;
    left: 10px;
    width: 30px;
    height: 30px;
    z-index: 100;
}

.bee .head .eye {
    position: absolute;
    top: -3px;
    left: -3px;
    font-size: 14px;
}
.bee .head .eye:nth-child(2) {
    left: 9px;
}

.bee .head .mouth {
    position: absolute;
    top: 7px;
    left: 0px;
    font-size: 14px;
}
