.bee {
    position: fixed;
    width: 100px;
    height: 50px;
    user-select: none;
    transition: top 0.1s linear, left 0.1s linear;
}

.bee.facing-right {
    transform: scaleX(-1);
}

.bee .bum,
.bee .waist,
.bee .body,
.bee .neck,
.bee .head {
    position: absolute;
    background: #c7a200;
    border: 3px solid #5a470a;
    border-radius: 20px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c1b174+0,9e7900+100 */
    background: radial-gradient(ellipse at center,  #c1b174 0%,#9e7900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.bee .bum {
    top: 5px;
    width: 40px;
    height: 40px;
    z-index: 10;
}
    .bee .bum:nth-child(1) { left: 46px; z-index: 60; scale: .95; }
    .bee .bum:nth-child(2) { left: 52px; z-index: 50; scale: 1; }
    .bee .bum:nth-child(3) { left: 58px; z-index: 40; scale: .95; }
    .bee .bum:nth-child(4) { left: 64px; z-index: 30; scale: .90; }
    .bee .bum:nth-child(5) { left: 70px; z-index: 20; scale: .85; }
    .bee .bum:nth-child(6) { left: 76px; z-index: 10; scale: .80; }

    .bee .bum:nth-child(odd) {
        background: #3a2e07;
    }

    .bee.firing-laser .bum:nth-child(odd) {
        border: 3px solid #ff0000;
        box-shadow: 0 0 2px 2px rgb(255, 0, 0);
    }

.bee .stinger {
    position: absolute;
    top: 20px;
    left: 110px;
    width: 40px;
    height: 10px;
    background: transparent;
    border: 1px solid transparent;
    border-left: 30px solid #000;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.bee .waist {
    top: 10px;
    left: 35px;
    width: 40px;
    height: 30px;
    z-index: 70;
}

.bee .body {
    top: 5px;
    left: 20px;
    width: 40px;
    height: 40px;
    z-index: 80;
}   

.bee .neck {
    top: 5px;
    left: 15px;
    width: 35px;
    height: 35px;
    z-index: 90;
    background: #3d2302;
    border: 0px none;
}

.bee .head {
    top: 0px;
    left: 10px;
    width: 30px;
    height: 30px;
    z-index: 100;
}

.bee .head .eye {
    position: absolute;
    top: 0px;
    left: -3px;
    font-size: 10px;
}
.bee .head .eye.n0 {
    left: 9px;
}

.bee .head .mouth {
    position: absolute;
    top: 7px;
    left: 0px;
    font-size: 14px;
    transform-origin: 50% 60%;
}

.bee.firing-laser .head .mouth {
    top: -1px;
    left: -7px;
    font-size: 24px;
    text-shadow: red 0 0 15px, red 0 0 15px, red 0 0 15px;
}

.bee .head .antenna {
    position: absolute;
    top: -12px;
    left: -5px;
    font-size: 14px;
    border: 3px solid #000;
    border-bottom: 0 none;
    border-left: 0 none;
    width: 12px;
    height: 12px;
    border-radius: 0 6px 0 0;
    rotate: -15deg;
}

.bee .head .antenna::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -2px;
    width: 7px;
    height: 7px;
    background: #000;
    border-radius: 4px;
}

.bee .head .antenna.n0 {
    top: -12px;
    left: 10px;
    rotate: 15deg;
}

.bee .leg {
    position: absolute;
    top: 30px;
    left: 25px;
    font-size: 22px;
    z-index: 110;
    rotate: 30deg;
}

.bee .leg.u0 {
    scale: -1 1;
    rotate: -30deg;
    z-index: 0;
}

.bee .leg.n0 {
    top: 30px;
    left: 10px;
}

.bee .leg.n1 {
    top: 30px;
    left: 40px;
}

.bee .leg.n2 {
    top: 30px;
    left: 40px;
}

.bee .leg.n3 {
    top: 30px;
    left: 55px;
}

.bee .wing {
    position: absolute;
    top: -15px;
    left: 65px;
    width: 30px;
    height: 30px;
    background: #c8c8ffb0;
    border-radius: 20px 20px 20px 0px;
    transform: scale(1.5, 0.5) rotate(45deg);
    rotate: -20deg;
    z-index: 120;
}

.wing-tick .bee .wing.n0 {
    rotate: 0deg;
    top: -5px;
    left: 66px;
}

.bee .wing.n1 {
    left: 0px;
    rotate: -160deg;
    z-index: 0;
}

.wing-tick .bee .wing.n1 {
    left: 0px;
    top: -5px;
    rotate: -180deg;
}

.bee .laser {
    position: absolute;
    top: 20px;
    left: -5975px;
    width: 6000px;
    height: 3px;
    background: #ffafaf;
    border: 1px solid #ff5757;
    border-radius: 2px;
    box-shadow: 0 0 10px 5px red;
    filter: blur(1px);
    z-index: 200;
    transform-origin: 100% 50%;
    transition: transform 0.1s linear;
}