.cloud {
    position: absolute;
    width: 120px;
    height: 60px;
    pointer-events: none;
    filter: blur(20px);
    opacity: .2;
    transition: left 10s linear;
}

.cloud .cloud-part {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;

    transition: background-color 5s linear;
}

    .sunset .cloud .cloud-part {
        background-color: #ffdca3;
    }

    .night .cloud .cloud-part {
        background-color: #000120;
    }
