* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #6cacff;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6cacff+0,147dff+100 */
    background: linear-gradient(to bottom,  oklch(0.7367 0.138 255.51) 0%,oklch(0.6579 0.138 255.51) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#status {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    font-size: 12px;
    top: 0;
    left: 0;
    padding: 5px 10px;
    border-radius: 0 0 15px 0;
    color: black;
    background: rgba(255, 255, 255, .5);
    user-select: none;
}
    #status.connected {
        background: rgba(0, 136, 0, 0.5);
    }
    #status.disconnected {
        background: rgba(255, 0, 0, .5);
    }
    #status.connecting {
        background: rgba(255, 255, 0, .5);
    }

#repo {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    font-size: 12px;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    border-radius: 15px 0 0 0;
    color: #003377;
    text-decoration: underline;
    background: rgba(255, 255, 255, .5);
    user-select: none;
}

#repo:hover {
    background: rgba(255, 255, 255, .8);
    color: #1c4e91;
}