.island {
    position: absolute;
    z-index: -10;
}

.island .grass {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #228B22;
    border-radius: 50%;
    z-index: 10;
}

.island .kliff {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 5;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 0 none;
    border-top: 1px solid #8B4513;
}

    .island .kliff.n1 {
        left: 8%;
        width: 84%;
        border-top-color: #773b0f;
    }

    .island .kliff.n2 {
        left: 16%;
        width: 68%;
        border-top-color: #662e0d;
    }

    .island .kliff.n3 {
        left: 24%;
        width: 52%;
        border-top-color: #551f0b;
    }

    .island .kliff.n4 {
        left: 32%;
        width: 36%;
        border-top-color: #441708;
    }

.island .pond {
    position: absolute;
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5cacf2+0,055154+100 */
    background: radial-gradient(ellipse at 50% 100%,  #055154 0%, #5cacf2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    border-radius: 50%;
    z-index: 15;
}