.island {
    position: absolute;
    z-index: -10;
}

.island .grass {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,  #09540b 0%,#228b22 100%);
    border-radius: 50%;
    z-index: 10;
}

    .sunset .island .grass {
        background: linear-gradient(to bottom,  #544f09 0%,#228b22 100%);
    }

.island .kliff {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 5;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 0 none;
    border-top: 1px solid #8B4513;
}

    .island .kliff.n1 {
        left: 8%;
        width: 84%;
        border-top-color: #773b0f;
    }

    .island .kliff.n2 {
        left: 16%;
        width: 68%;
        border-top-color: #662e0d;
    }

    .island .kliff.n3 {
        left: 24%;
        width: 52%;
        border-top-color: #551f0b;
    }

    .island .kliff.n4 {
        left: 32%;
        width: 36%;
        border-top-color: #441708;
    }

.island .pond {
    position: absolute;
    background: radial-gradient(ellipse at 50% 100%,  #055154 0%, #5cacf2 100%);
    border-radius: 50%;
    border: 1px solid #b39b4f;
    border-top-width: 0px;
    border-bottom-width: 0px;
    z-index: 15;
}

    .sunset .island .pond {
        background: radial-gradient(ellipse at 50% 100%,  #055154 0%, #5c77f2 100%);
    }

.island .pond .lilypad {
    position: absolute;
    background: radial-gradient(ellipse at 50% 100%,  #0b610b 0%, #27ae60 100%);
    border-radius: 50%;
}

.island .pond .lilypad.flower::before {
    content: '';
    position: absolute;
    bottom: 20%;
    left: 30%;
    width: 40%;
    height: 120%;
    /* a nice pink lotus */
    background: radial-gradient(ellipse at 50% 100%,  #ffb6c1 0%, #ff69b4 100%);
    border-radius: 50%;

}